* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%);
	--gayish-blue: hsl(246, 25%, 77%);
}

body {
	font-family: 'Poppins', serif;
	font-size: 16px;
}

body p {
	line-height: 26px;
	color: white;
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: .1rem;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--red) url(/images/bg-intro-mobile.png) center;
}

.signup__card {
	width: 375px;
	padding: 5.5rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1.3rem;
	color: white;
	text-align: center;
}

.signup__card h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.25rem;
}

.signup__card-ad {
	background-color: var(--blue);
	padding: .8rem 2.2rem;
	border-radius: 10px;
	margin-top: 1.7rem;
	font-weight: 400;
}

.signup__card form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .8rem;
	background-color: white;
	border-radius: 1rem;
	padding: 20px;
}

.signup__card form > input {
	width: 100%;
	height: 3.5rem;
	font-family: 'Poppins', serif;
	font-weight: 600;
	letter-spacing: .25px;
	border: .8px #dedede solid;
	border-radius: 7px;
	padding-left: 1rem;
}

::placeholder {
	color: var(--dark-blue);
}

.signup__card form > input:invalid {
}

.signup__card form > p {
	color: var(--gayish-blue);
	padding: 0px 20px 0 20px;
	font-size: .75rem;
	line-height: 21px;
	letter-spacing: 0.05rem;
}

.signup__card form > input[type='submit'] {
	background-color: var(--green);
	color: white;
	cursor: pointer;
}

.signup__card-terms {
	color: var(--red);
	cursor: pointer;
}

@media (min-width: 1440px) {
	.signup__card {
		display: grid;
		width: 1440px;
		grid-template-columns: auto auto;
		gap: 2rem;
	}

	.signup__card h1 {
		grid-column: 1;
		font-size: 3.125;
	}

	.signup__card > p {
		grid-column: 1;
	}

	.signup__card-ad {
		grid-column: 2;
	}

	.signup__card form {
		grid-column: 2;
	}
}